<div class="d-flex justify-content-between">
  <div>
    <h2>投稿一覧</h2>
  </div>
  <div class="form-group">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.label '投稿やコメントを検索' %>
      <%= f.text_field :search %>
      <%= f.submit '検索', class: "btn btn-primary" %>
    <% end %>
  </div>
</div><hr>
<% @posts.each do |post| %>
  <hr>
  <span>カテゴリ</span>
  <% post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  <p><span>タイトル:</span><%= post.title %></p>
  <p><span>内容:</span><%= post.content %></p>
  <% if post.comments.any? %>
    <p>コメント</p>
    <% post.comments.each do |c| %>
      <p><span><%= c.content %></span></p>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= form_for @comment do |f| %>
      <%= f.text_field :content %>
      <%=  f.hidden_field :post_id, value: post.id %>
      <%= f.submit 'コメントする' %>
    <% end %>
  <% end %>
<% end %>
<% if current_user %>
  <p>投稿する</p>
  <%= form_for @post do |f| %>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_area :title %>
    <%= f.label :content, '内容' %>
    <%= f.text_field :content %>
    <p>
      <%= f.label :category, 'カテゴリ' %>
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
        <%= category.label do %>
          <%= category.check_box %>
          <%= category.text %>
        <% end %>
      <% end %>
    </p>
    <%= f.submit '投稿するぜ' %>
  <% end %>
<% else %>
  <p>投稿の前に<%= link_to 'ログイン', new_user_session_path %>をお願いします。</p>
<% end %>