<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light navbar-expand-sm" style="background-color:#e3f2fd;">
          <%= link_to '5chホーム', root_path, class: 'nav-item nav-link' %>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
        <div class="nav-item">
          <%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link' %>
        </div>
        <div class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        </div>
        <div class="nav-item">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
        </div>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
